# CONCOURSE
.credentials.yml

# GO
coverage.out

# macOS
.DS_Store

# Ignore binaries
**/bin/hello-go

# Ignore test coverage
**/test/test_coverage.txt

# Ignore binary used for docker build
**/build-push/hello-go

# Ignore .vagrant
**/.vagrant
**/.log

**/ubuntu-1604-virtualbox-vm/*.log

# Ignore Packer
**/packer_cache
**/*.box
**/*.iso
**/*.iso.lock
**/*.vdi
